// // config
// @import './styles/fonts.scss';
// @import './styles/vars.scss';
// @import './styles/reset.scss';
// @import './styles/aspect-ratio.scss';
// @import './styles/base.scss';
// @import './styles/type.scss';
// @import './styles/container.scss';
// @import './styles/button.scss';

// // components
// @import './components/button-slider-open/button-slider-open.scss';
// @import './components/content/content.scss';
// @import './components/placeholders/placeholders.scss';
// @import './components/slider/slider.scss';


* {
    box-sizing: border-box;
  }
  
  body {
    overflow: hidden;
    background: #000;
    color: #fff;  
    font-family: 'Playfair Display', cursive;
  }

  .b--hero-a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__wrapper{
        overflow: hidden;
        cursor: grab;
        width: 100%;
        position: relative;
        z-index: 1;
        height: 40vh;

        &--is-dragging {
            cursor: grabbing;
        }
        &__content{
            display: flex;
            position: absolute;
            z-index: 1;
            height: 100%;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
  }
  

  
  
  .b--card-b {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100%;
    padding: 0 1.5vw;
    overflow: hidden;
    
    &:hover{
        opacity: .3;
    }
    
    &__wrapper{
        // pointer-events: none;
        position: relative;
        z-index: 1;
        display: block;
        user-select: none;
        padding: 0;
        border: none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transform-origin: center;

        &__link{
            display: block;
            height: 100%;
            position:relative;
            color:white;
            &__bg-items{
                background-position:cover;
                height: 100%;
                z-index: 1;
            }
            &__ft-items{
                position:absolute;
                z-index: 10;
                bottom:8px;
                left:8px;
                right:8px;
                &__title{
                    margin:0; padding:0
                }
            }
        }
        
      
    }
  }